body {
	margin: 0;
	font-family: Helvetica, sans-serif;
	background-color: #f9f9f9;
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
a {
	cursor: pointer;
	margin: 0;
	text-decoration: none;
}
header {
	height: 65px;
	width: 100%;
	background-color: #2c3e50;
	box-shadow: 0 -1px 10px #000;
	position: relative;
	z-index: 2;
}
.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 98%;
	height: 100%;
	margin: auto;
}
.fa-search {
	color: #b9c53b;
}
.header__search {
	display: flex;
	width: 60%;
	border-radius: 25px;
	padding: 10px;
	background-color: #fff;
}
.header__search input {
	flex-grow: 1;
	padding: 0 0.5em;
	border: 0;
	outline-color: lightgray;
}
.header__search button {
	cursor: pointer;
	border: 0;
	padding: 0;
	background: transparent;
	border-radius: 50%;
}
.header__menu-icon {
	display: none;
}
.header__user-icon {
	width: 2rem;
	height: 2rem;
}
 .nav-main__container {
	display: flex;
	height: 100vh;
}
.nav ul {
	margin: 10px 10px;
}
.nav ul a {
	font-size: 1.2rem;
	color: #aeaeae;
}
.nav__container {
	width: 200px;
	background: #fff;
	box-shadow: 0 0 18px 0 #ccc;
}
.nav ul li {
	margin: 0;
	padding: 10px;
}
.nav ul li i {
	margin-right: 20px;
}
.nav ul li a:hover {
	color: #b9c53b;
}
.main__container {
	flex-grow: 1;
	background: transparent;
}
.main__list {
	display: flex;
	flex-direction: column;
	margin: 40px 30px;
	box-shadow: 0 0 10px 0.5px #ccc;
}
.main__list-item-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0;
	padding: 2px 15px;
	border-radius: 4px;
	border-bottom: 1px solid rgba(211, 211, 211, 0.4);
	background: #fff;
}
.main__list-item-container a {
	color: #aeaeae;
}
.main__list-item__picture {
	width: 36px;
	height: 36px;
	border-radius: 25px;
}
.main__list-item__picture {
	flex-basis: 1rem;
	margin-right: 1rem;
}
.main__list-item__name {
	font-weight: bold;
	color: #2c3e50;
	flex-basis: 2rem;
	margin-right: 1rem;
}
.main__list-item__email {
	flex-basis: 20%;
}
main li:last-child a {
	border: none;
}
.section__search {
	display: none;
}