/* medium and small screen size */
@media screen and (max-width: 978px) {
  header {
    border-bottom: 0.5px solid #f9f9f9;
  }
  .header__menu-icon {
    display: inline-block;
    background: transparent;
    border: none;
    color: #f9f9f9;
    font-size: 1.3rem;
  }
  .header .header__search {
    display: none;
  }
  .header__logo {
    order: 2;
  }
  .header__menu-icon {
    order: 1;
  }
  .header__user-icon {
    order: 3;
  }
  .section__search {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    background: #2c3e50;
  }
  .section__search div {
    display: flex;
    width: 60%;
    border-radius: 25px;
    padding: 10px;
    background-color: #fff;
  }
  .section__search div input {
    flex-grow: 1;
    padding: 0 0.5em;
    border: 0;
    outline-color: lightgray;
  }
  .section__search div button {
    cursor: pointer;
    border: 0;
    padding: 0;
    background: transparent;
    border-radius: 50%;
  }
  .nav__container {
    display: none;
  }
  
}