body {
	margin: 0;
	background-color: #f9f9f9;
}
/*
 * header
 */
header {
  height: 65px;
	background-color: #2c3e50;
	box-shadow: 0 -1px 18px #000;
}
.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 98%;
	height: 100%;
	margin: auto;
	cursor: pointer;
}
.fa-search {
	color: #b9c53b;
}
.header__search-bar {
	display: flex;
	width: 700px;
	border-radius: 25px;
	padding: 10px;
	background-color: #fff;
}
.header__search-bar input {
	flex-grow: 1;
	padding: 0 0.5em;
	border: 0;
	outline-color: lightgray;
}
.header__search-bar button {
	cursor: pointer;
	border: 0;
	padding: 0;
	background: transparent;
	border-radius: 50%;
}
