body {
	margin: 0;
	font-family: Helvetica, sans-serif;
	background-color: #f9f9f9;
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
a {
	cursor: pointer;
	margin: 0;
	text-decoration: none;
}
/*
 * header
 */
header {
  height: 65px;
	background-color: #2c3e50;
	box-shadow: 0 -1px 10px #000;
}
.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 98%;
	height: 100%;
	margin: auto;
	cursor: pointer;
}
.fa-search {
	color: #b9c53b;
}
.header__search-bar {
	display: flex;
	width: 700px;
	border-radius: 25px;
	padding: 10px;
	background-color: #fff;
}
.header__search-bar input {
	flex-grow: 1;
	padding: 0 0.5em;
	border: 0;
	outline-color: lightgray;
}
.header__search-bar button {
	cursor: pointer;
	border: 0;
	padding: 0;
	background: transparent;
	border-radius: 50%;
}
/*
 * nav main container
 */
 .nav-main__container {
	display: flex;
	height: 100vh;
}
/*
 * sidebar
 */
.sidebar ul {
	margin: 10px 10px;
}
.sidebar ul a {
	font-size: 1.2rem;
	color: #aeaeae;
}
.sidebar__container {
	width: 200px;
	z-index: -1;
	background: #fff;
	box-shadow: 0 0 18px 0 #ccc;
}
.sidebar ul li {
	margin: 0;
	padding: 10px;
}
.sidebar ul li i {
	margin-right: 20px;
}
/*
 * main
 */
.main__container {
	flex-grow: 1;
	background: transparent;
}
.main__list {
	display: flex;
	flex-direction: column;
	margin: 40px 30px;
	box-shadow: 0 0 10px 0.5px #ccc;
}
.main__list-item-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0;
	padding: 5px;
	border-radius: 4px;
	border-bottom: 1px solid #aeaeae;
	background: #fff;
	color: #aeaeae;
}
.main__list-item__picture {
	width: 36px;
	height: 36px;
	border-radius: 25px;
}
.main__list-item__name {
	font-weight: bold;
	color: #2c3e50;
}
main li:last-child a {
	border: none;
}

